* {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}


.heart {
    width: 500px;
    height: 500px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-solid {
    animation: heart-beat 1s 2s infinite reverse;
    font-size: 100px;
    color: deeppink;
}

@keyframes heart-beat {
    0%{
        font-size: 100px;
    }

    100%{
        font-size: 10px;
    }
}







