.content {
    width: 100%;
    height: 100%;
    margin: 12px auto;
    padding-top: 12px;
    background-color: #ffff;
}

/* Tiêu đề */
.heading {
    font-size: 17px;
    font-weight: bold;
    padding-left:30px;
    margin-bottom: 12px;
}

/* Sắp xếp theo hàng ngang */
.content >ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Ảnh */
.catergory-item a img{
    width: 84px;
    height: 84px;
}

.catergory >li {
    list-style-type: none;
    height: 150px;
    text-align: center;
}

.content >ul li{
    flex-basis: 14.285%;
}

.catergory-item a{
    text-decoration: none;
}

.catergory-item a>span{
    color:rgb(34, 34, 34);
    display: block;
    width:110px;
    height: 35px;
    margin: auto;
    padding-top:8px;
}
